<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">easyPDF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="navbarSupportedContentul">
                <!-- Convert From PDF -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Convert From PDF
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'PDFtoJPG' %}">PDF to JPG</a>
                        <a class="dropdown-item" href="{% url 'PDFtoWORD' %}">PDF to WORD</a>
                        <a class="dropdown-item" href="{% url 'PDFtoPPT' %}">PDF to PPT</a>
                        <a class="dropdown-item" href="{% url 'PDFtoEXCEL' %}">PDF to EXCEL</a>
                    </div>
                </li>
                <!-- Convert To PDF -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Convert To PDF
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'JPGtoPDF' %}">JPG to PDF</a>
                        <a class="dropdown-item" href="{% url 'WORDtoPDF' %}">WORD to PDF</a>
                        <a class="dropdown-item" href="{% url 'PPTtoPDF' %}">PPT to PDF</a>
                        <a class="dropdown-item" href="{% url 'EXCELtoPDF' %}">EXCEL to PDF</a>
                        <a class="dropdown-item" href="{% url 'HTMLtoPDF' %}">HTML to PDF</a>
                    </div>
                </li>
                <!-- Edit PDF -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Edit PDF
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'RotatePDF' %}">Rotate PDF</a>
                        <a class="dropdown-item" href="{% url 'AddWatermarktoPDF' %}">Add Watermark to PDF</a>
                        <a class="dropdown-item" href="{% url 'AddPageNo' %}">Add PageNo to PDF</a>
                    </div>
                </li>
                <!-- Extract From PDF -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Extract From PDF
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'ExtractTextFromPDF' %}">Extract Text From PDF</a>
                        <a class="dropdown-item" href="{% url 'ExtractTextFromImage' %}">Extract Text From Image</a>
                        <a class="dropdown-item" href="{% url 'PDFtoAudiobook' %}">PDF to Audiobook</a>
                    </div>
                </li>
                <!-- Optimize PDF -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Optimize PDF
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'CompressPDF' %}">Compress PDF</a>
                    </div>
                </li>
                <!-- Organize PDF -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Organize PDF
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'MergePDF' %}">Merge PDF</a>
                        <a class="dropdown-item" href="{% url 'SplitPDF' %}">Split PDF</a>
                        <a class="dropdown-item" href="{% url 'RemovePagesFromPDF' %}">Remove Pages From PDF</a>
                        <a class="dropdown-item" href="{% url 'WatermarkPDF' %}">Watermark PDF</a>
                    </div>
                </li>
                <!-- PDF Security -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PDF Security
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'UnlockPDF' %}">Unlock PDF</a>
                        <a class="dropdown-item" href="{% url 'ProtectPDF' %}">Protect PDF</a>
                        <a class="dropdown-item" href="{% url 'SignPDF' %}">Sign PDF</a>
                    </div>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
